<h1>Burger Palace</h1>
<h5>You can eat a burger on the menu or create your own using the button below</h5>

<ul>
	{{#each burgers }}
	<li>
		<p><span class="label">Burger:</span>{{this.name}}</p>
		<button class="eat" <a href="{{this.id}}">Eat the Burger</button>
	</li>
	{{/each}}
</ul>
<h2>Add a Burger</h2>
<form class="create-form">
	<div class="form-group">
		<label for="create">Your Creation:</label>
		<input type="text" name="name" id="id">
	</div>
	<button type="submit">Add Burger</button>
</form>